header{
    height: 150px;
}
img{
    width: 100px;
}
main{
    background-color: blueviolet;
}
.grid_container{
    background-color: blue;
    margin: 0 auto;
    width: 650px;
    height: 650px;
}
.box{
    width: calc(100% / 10);
    height: calc(100% / 10);
    display: flex;
    border: 2px solid white;
    cursor: crosshair;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box_active{
    background-color: black;
}
/* box in base al livello */
.box_medium{
    width: calc(100% / 9);
    height: calc(100% / 9);
}

.box_hard{
    width: calc(100% / 7);
    height: calc(100% / 7);
}